.outer{
   display: flex;
   flex-direction: column;
   margin: 0 auto;
   width: 50%;
   padding: 30px 30px 30px 30px;
   background-color: white;
   border-radius: 5px;
   /* margin-top: 100px */
}

.updateBtn{
  margin-top: 5px;
  margin-right: 10PX;
  border: 1px solid rgb(77, 75, 75);
  border-radius: 3px;
  padding: 2px 10px 2px 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

/* button{
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 3px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
} */

.manageh1{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.manageh2{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
  font-size: 20px;
}

.map{
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.manageBody{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  line-height: 20px;

}

.upanddelbutton{
  margin-top: 10px;
}

.manage-answers-text{
  font-size: 19px;
}

.manage-subtitle{
  font-size: medium;
  color: rgb(97, 13, 13);
}

.manage-subtitle-2{
  padding-top: 10px;
  color: black;
  font-weight: bold;
}
