.outer{
   display: flex;
   flex-direction: column;
   margin: 0 auto; 
   width: 60%
}

.updateBtn{
  margin-top: 10px;
  margin-right: 10PX;
  border: 1px solid black;
  border-radius: 3px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

button{
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 3px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}