.space-detail-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin:  0 auto;
}

.allQuestions-space {
    margin: 1rem 0 0 1rem;
    max-width: 586.5px;
    width: 586.5px;
}

.space-add-question-btn {
    margin: auto;
}
