.createQuestion{
    margin: 0px 20% 0 20%;
}

.textArea{
    width: 100%;
    height: 100px;
}

.addQuestion{
    cursor: pointer;
    
}

.cancelCreate{
    background-color: white;
    color: #B92B27;

    padding: 5px 15px;

    transition: all 0.7s;

    border-radius: 15px;
    border: 1px solid #B92B27;
}

.cancelCreate:hover{
    background-color: rgb(255, 201, 201);
    color: #B92B27;
    
    transition: all 0.7s;

    cursor: pointer;
}

.createForm, .errorsQuestion{
    margin: 0 20%;
    color: #B92B27;
}

.quesButtonDiv{
    display: flex;
    gap: 1%;
    justify-content: flex-end;

    margin: 5px auto;
}

.divlab{
    margin: 15px auto;
}

.space-label{
    margin: 5px;
}
