.container{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
 }

.create-btn {
    list-style: none;
    border: 0;
    margin: auto;
}

.space-tiles {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}

#discover-title {
    margin-bottom: 0px;
    margin-top: 3rem;
}

#spaces-title {
    margin-bottom: 10px;
}
