/* .profile-dropdown {
  position: absolute;
  right: 14rem;
  top: 2rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
*/

#logo {
  height: 2rem;
  width: 6rem;
}
.hidden {
  display: none;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  box-shadow: 0 2px lightgray;
  position: fixed;
  background-color: white;
  width: 100%;
  top: 0;
  height: 60px;
}
