#modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    width: 500px
}

.signup-modal-form {
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 480px
}
/* 
input {
    margin-bottom: 1rem;
}

button {
    margin-bottom: 1rem;
} */
