body{
    background-color: rgb(241, 242, 242);
   
}

.ques{
    font-weight: bold;
}

.questionNum{
    background-color: white;
    margin: 2% 0;
    padding: 2%;
 
   
}
.spaceSidebar{
    margin: 2% 0;
    position: fixed;
}

.mainQuestionPage{
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin: 9% 8%;
}

.allQuestions{
    width: 70%;
}

.userPart{

}

.profileDiv{

}

.textDiv{

}

.questionPart{

}

.nom{
    font-weight: bold;
}