/* body{
    background-color: rgb(241, 242, 242);
}
*/

.main-question-page{
    display: flex;
    margin: auto 10.5%;
}

.question-tilte{
    color: black;
    text-decoration: none;
    font-weight: bold;
    max-width: 500px;
    word-wrap: break-word;
}

.single-question-container{
    background-color: white;
    margin: 18px auto;
    padding: 18px;
    border-radius: 5px;
}

.question-profile-pic{
    background-color: grey;
    width: 36px;
    height: 36px;
    border-radius: 10px;
}

.space-sidebar{
    margin-top: 125px;
    margin-left: 150px;
}

.question-update-delete-btn{
    margin: 5px;
}

.delete-update-btn{
    margin: 5px;
}

.allQuestions{
    margin: 100px auto auto 100px;
    max-width: 586.5px;
    width: 586.5px;
}

.question-user-container{
    display: flex;

    margin: 5px;
}

.question-user-name{
    font-size: 15px;
    font-weight: 700;

    margin: 5px;
}
