.updateButton{
    margin: 5px;
    padding: 5px 15px;

    width: fit-content;
    
    border-radius: 15px;
    border: 1px solid #B92B27;

    transition: all 0.7s;

    color: #B92B27;
    background-color: white;
}

.updateButton:hover{
    color: white;
    background-color: #B92B27;
    
    transition: all 0.7s;

    cursor: pointer;
}

.updateText{

}

.updateTextArea{
    width: 400px;
    height: 50px;

    border-radius: 7px;

    margin: 15px;
}

.updateDiv{

}

.updateForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}
