.spaces {
    display: flex;
    flex-direction: column;
    max-width: 100px;
    width: 100px;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.create-space-btn {
    background-color: rgba(211, 211, 211, 0.63);
    padding: 10px;
    border-radius: 5%;
    cursor: pointer;
    border: none;
    list-style: none;
}

.space-link {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5%;
    text-decoration: none;
    color: black;
}

.create-space-btn:hover {
    background-color: rgb(211, 211, 211);
}

.space-link:hover {
    background-color: rgb(211, 211, 211);
}
